<!-- Copyright @emontj 2024 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Says?</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Who Says?</h1>
    <h2>An AI-powered look into what news platforms are giving what topics and which people the most attention.</h2>
    <form id="searchForm">
        <input type="text" placeholder="Search for a Person in the Database" id="searchInput">
        <button type="submit" id="searchButton">Submit</button>
    </form>
    <div class="chart-row">
        <div class="chart-container">
            <h3>Share of Individuals Covered in the Media (All)</h3>
            <canvas id="individualsChart"></canvas>
        </div>
        <div class="chart-container">
            <h3>Share of Topics Covered in the Media (All)</h3>
            <canvas id="topicsChart"></canvas>
        </div>
    </div>

    <script src="{{ url_for('static', filename='chartManager.js') }}"></script>
    <script src="{{ url_for('static', filename='searchBar.js') }}"></script>
</body>
</html>
